body{
    background-color: aliceblue;
}

.product{
    width: 250px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.admin-product{
    width: 200px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product img{
    width: 100%;
}


.admin-supplier{
  width: 250px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login {
    background-color: white;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
  }
  
  /* End of Login page */
  
  
  /* Admin products page */
  
  .search-input {
    outline: none !important;
  }
  
  .table-icon {
    border: 0;
  }
  
  .table-icon span {
    font-size: 34px;
  }
  
  #products td img {
    width: 100px;
    transition: transform ease 0.3s;
  }
  
  #products td img:hover {
    transform: scale(1.5);
  }
  
  @media (max-width: 768px) {
    .login {
      width: 90%;
    }
  
    .login div {
      width: 100% !important;
    }
  }